@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0;
    background:#020617;
    color:white;
    font-family:Inter,sans-serif;
}

input,
select,
textarea{

    width:100%;
    padding:12px 14px;

    background:#1e293b;

    color:white;

    border:1px solid #475569;

    border-radius:12px;

    outline:none;

    transition:.2s;
}

input:focus,
select:focus,
textarea:focus{

    border-color:#06b6d4;

    box-shadow:0 0 0 2px rgba(6,182,212,.2);

}

option{

    background:#1e293b;

    color:white;

}

button{

    transition:.2s;

}

table{

    border-collapse:collapse;

}

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#334155;

    border-radius:20px;

}